# Node.js dependencies
node_modules/

# Build directory
/dist

# Logs
*.log

# MacOS files
.DS_Store

# Electron's native builds
*.app
*.exe
*.dll        # ダイナミックリンクライブラリ

# SQLite database files
*.db         # SQLiteなどのデータベースファイル

# package-lock.json を無視
package-lock.json

/release
/dist-tsc